<h2 class="text-center">Ana Calabano</h2>

<!-- slider directive -->
<div myslider>
    <ul class="slider">
        <li class="image-slider">
            <img src="/images/graceshopper.png" alt="Image">
        </li>
        <li class="image-slider">
            <img src="/images/hotspot.png" alt="Image">
        </li>
        <li class="image-slider">
            <img src="/images/pixelfirebase.png" alt="Image">
        </li><li class="image-slider">
            <img src="/images/getcommitted.png" alt="Image">
        </li>
    </ul>
</div>

<div class="center">
  <div class="row">
      <a href="https://github.com/CPfi12/GraceShopper2"><img class="col-md-3" src="/images/graceshopper.png" alt="Image"></a>
      <a href="https://hotspot-boardgame.com/home"><img class="col-md-3" src="/images/hotspot.png" alt="Image"></a>
      <a href="https://pixel-moodapp.firebaseapp.com"><img class="col-md-3" src="/images/pixelfirebase.png" alt="Image"></a>
      <a href="https://getcommittedapp.firebaseapp.com"><img class="col-md-3" src="/images/getcommitted.png" alt= "Image"></a>
  </div>
</div>

<!--
<div class="text-center">
    <small>Images courtesy of <a target="_blank" href="http://unsplash.com">unsplash.com</a></small>
</div> -->
